<p-table
  [value]="dados"
  [tableStyle]="{ 'min-width': '50rem', 'padding-bottom': '1rem' }"
>
  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let mes of meses">{{ titulo }} {{ mes }}</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-row>
    <tr *ngIf="titulo === 'QL'">
      <td *ngFor="let mes of meses; let i = index">
        <p-inputNumber
          locale="pt-BR"
          [showButtons]="true"
          [min]="0"
          [(ngModel)]="row[getCampo(i)]"
          [style]="{ width: '100%' }"
        ></p-inputNumber>
      </td>
    </tr>
    <tr *ngIf="titulo !== 'QL'">
      <td *ngFor="let mes of meses; let i = index">
        <app-hora
          [valores]="row[getCampo(i)]"
           (valoresAlterados)="onTempoAlterado($event, row, i)"
        ></app-hora>
      </td>
    </tr>
  </ng-template>
</p-table>
