:host ::ng-deep .p-button.p-button-icon-only {
  width: 1.2rem;
}

:host ::ng-deep .p-button {
  color: #ffffff;
  background: #16403a;
  border: 1px solid #338578;
  :hover {
    background: #16403a;
    background-color: #338578;
  }
}

:host ::ng-deep .p-button:enabled:hover {
  color: #ffffff;
  background: #338578;
  border: 1px solid #338578;
}

:host ::ng-deep .p-inputtext:enabled:focus {
  box-shadow: 0 0 0 0.2rem #338578;
  border-color: #16403a;
}

:host ::ng-deep .p-dropdown-panel .p-dropdown-items {
  .p-dropdown-item .p-highlight {
    color: #16403a;
    background: #d7faf4;
  }
}
