<app-spinner [carregandoDados]="this.carregando"></app-spinner>

<p-card header="" [style]="{ 'text-align': 'center' }">
  <p-panel header="Informações da Solicitação">
    <div class="grid">
      <span class="font-bold col-2" [style]="{ 'text-align': 'right' }"
        >Solicitante:</span
      >
      <span class="col-10" [style]="{ 'text-align': 'left' }">{{
        dadosFormulario.usuario_solicitante
      }}</span>
    </div>
    <div class="grid">
      <span class="font-bold col-2" [style]="{ 'text-align': 'right' }"
        >Gestor:</span
      >
      <span class="col-10" [style]="{ 'text-align': 'left' }">{{
        dadosFormulario.nome_gestor
      }}</span>
    </div>

    <div class="grid">
      <span class="font-bold col-2" [style]="{ 'text-align': 'right' }"
        >Ação Desejada:</span
      >
      <p-dropdown
        class="p-inputtext-sm col-3"
        [options]="opcao"
        [(ngModel)]="opcaoSelecionada"
        [filter]="true"
        [showClear]="true"
        [style]="{ width: '100%' }"
        [virtualScroll]="false"
        (onChange)="obterTipo(opcaoSelecionada)"
        optionLabel="tipo"
        filterBy="tipo"
        placeholder="Selecione uma opção"
      >
        <ng-template pTemplate="selectedItem" let-opcaoSelecionada>
          <div class="flex align-items-center">
            <div>{{ opcaoSelecionada.tipo }}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>
  </p-panel>
  <br />
  <br />
  <p-table
    [value]="this.dadosTabelaFiltro"
    [tableStyle]="{ 'min-width': '50rem' }"
    [globalFilterFields]="['nomEmp', 'nomFun']"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>
          Empresa
          <p-columnFilter
            class=""
            type="text"
            field="nomEmp"
            placeholder="Filtrar empresa"
            ariaLabel="Filtre o nome da empresa"
            filterOn="input"
            matchMode="contains"
            [showAddButton]="false"
            [showOperator]="false"
            [showMenu]="false"
          ></p-columnFilter>
        </th>
        <th>
          Colaborador
          <p-columnFilter
            type="text"
            field="nomFun"
            placeholder="Filtrar colaborador"
            ariaLabel="Filtre o nome do colaborado"
            filterOn="input"
            matchMode="contains"
            [showAddButton]="false"
            [showOperator]="false"
            [showMenu]="false"
          ></p-columnFilter>
        </th>
        <th>
          Posto de Trabalho
          <p-columnFilter
            type="text"
            field="desPos"
            placeholder="Filtrar posto"
            ariaLabel="Filtre o nome do posto"
            filterOn="input"
            matchMode="contains"
            [showAddButton]="false"
            [showOperator]="false"
            [showMenu]="false"
          ></p-columnFilter>
        </th>
        <th>
          Cargo
          <p-columnFilter
            type="text"
            field="codCar"
            placeholder="Filtrar cargo"
            ariaLabel="Filtre o nome do codCar"
            filterOn="input"
            matchMode="contains"
            [showAddButton]="false"
            [showOperator]="false"
            [showMenu]="false"
          ></p-columnFilter>
        </th>
        <th>Salário Atual</th>
        <th>1ª Data Alteração</th>
        <th>1º % Alteração</th>
        <th>2ª Data Alteração</th>
        <th>2º % Alteração</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-dadosTabelaFiltro let-rowIndex="rowIndex">
      <tr>
        <td class="cores-tabela">
          {{ dadosTabelaFiltro.numEmp + " - " + dadosTabelaFiltro.nomEmp }}
        </td>

        <td>
          {{ dadosTabelaFiltro.numCad + " - " + dadosTabelaFiltro.nomFun }}
        </td>
        <td>
          {{ dadosTabelaFiltro.posTra + " - " + dadosTabelaFiltro.desPos }}
        </td>
        <td>
          {{ dadosTabelaFiltro.codCar }}
        </td>
        <td>{{ "R$ " + dadosTabelaFiltro.valSal }}</td>
        <td>
          <app-data
            [valor]="dadosTabelaFiltro.DatAlt1"
            (valorAlterado)="
              dadosTabelaFiltro.DatAlt1 = $event;
              obterSelecao(dadosTabelaFiltro)
            "
          ></app-data>
        </td>

        <td>
          <p-inputNumber
            locale="pt-BR"
            [showButtons]="true"
            [min]="0"
            [max]="999"
            [(ngModel)]="dadosTabelaFiltro.PerAlt1"
            [style]="{ width: '100%' }"
            (ngModelChange)="obterSelecao(dadosTabelaFiltro)"
          ></p-inputNumber>
        </td>
        <td>
          <app-data
            [valor]="dadosTabelaFiltro.DatAlt2"
            (valorAlterado)="
              dadosTabelaFiltro.DatAlt2 = $event;
              obterSelecao(dadosTabelaFiltro)
            "
          ></app-data>
          <!-- (valorAlterado)="receberDadosTabela($event)"
            (ngModelChange)="obterSelecao(dadosTabelaFiltro)" -->
        </td>

        <td>
          <p-inputNumber
            locale="pt-BR"
            [showButtons]="true"
            [min]="0"
            [max]="999"
            [(ngModel)]="dadosTabelaFiltro.PerAlt2"
            (ngModelChange)="obterSelecao(dadosTabelaFiltro)"
            [style]="{ width: '100%' }"
          ></p-inputNumber>
          <!-- (ngModelChange)="receberDadosTabela($event)" -->
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
